<section class="navigation">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/chat">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/friends">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/auth/signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/auth/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Logout</a>
      </li>
    </ul>
</section>