<section class="requests flex-column m-1">
    <div class="h6 text-center">Friend Requests</div>
    <div class="nav flex-column">
      <div class="nav-item d-flex flex-column justify-content-center align-items-center">
        <a class="nav-link active" aria-current="page" href="#">Suman</a>
        <form action="" method="post">
          <button class="btn btn-outline-dark">Accept</button>
        </form>
      </div>
      <div class="nav-item d-flex flex-column justify-content-center align-items-center">
        <a class="nav-link active" href="#">Shubham</a>
        <form action="" method="post">
          <button class="btn btn-outline-dark">Accept</button>
        </form>
      </div>
      <div class="nav-item d-flex flex-column justify-content-center align-items-center">
        <a class="nav-link active" href="#">Sera</a>
        <form action="" method="post">
          <button class="btn btn-outline-dark">Accept</button>
        </form>
      </div>
      <div class="nav-item d-flex flex-column justify-content-center align-items-center">
        <a class="nav-link active">Shampoo</a>
        <form action="" method="post">
          <button class="btn btn-outline-dark">Accept</button>
        </form>
      </div>
    </ul>
</section>