<% layout('/layouts/boilerplate') -%>

<section class="navigation">
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Friend List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Logout</a>
        </li>
      </ul>
</section>
<section class="main">
    <div class="card posts">
        <img src="https://cdn-www.comingsoon.net/assets/uploads/2021/05/dragon-ball.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">I won't forgive the guys who try to hurt my friends.</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque minima dicta in totam ullam, tenetur tempore beatae quod officiis praesentium repudiandae. Error, maiores nulla, ad possimus saepe harum fugiat et dolores ab accusantium vel dignissimos iure rem quia, repellendus id provident. Laboriosam rerum est provident atque, distinctio sunt qui asperiores.</p>
          <a href="#" class="btn btn-outline-dark">Comments</a>
        </div>
    </div>
    <div class="card posts">
        <img src="https://sportshub.cbsistatic.com/i/2021/03/18/6eab5e5f-ca8c-42d1-862d-2df903b5309c/one-piece-wano-luffy-cosplay-1252700.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">I'll be the king of the pirates</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dolor consequuntur eius magnam, labore eum ipsum in sit repellat veniam tempore adipisci excepturi consectetur numquam laboriosam sed inventore architecto officia quisquam quam animi distinctio soluta? Natus, quam iusto mollitia totam eveniet quis? Placeat repellendus soluta molestiae, in tenetur numquam architecto.</p>
          <a href="#" class="btn btn-outline-dark">Comments</a>
        </div>
    </div>
    <div class="card posts">
        <img src="https://m.media-amazon.com/images/M/MV5BNzllZWZhNGEtMzcxNS00NDc4LThjYjEtYzFkZWJhZGYwODA3XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_FMjpg_UX1000_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">My money was stolen...</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius nam quam aliquam asperiores repellat numquam doloribus, ullam est vel atque quisquam blanditiis tempora magni quo accusamus assumenda eveniet sequi enim. Doloremque libero nemo eius odio provident itaque molestias at dignissimos vero saepe. Quibusdam ab, cupiditate eos officia sequi animi repellendus?</p>
          <a href="#" class="btn btn-outline-dark">Comments</a>
        </div>
    </div>
</section>
<section class="sidebar flex-column m-1">
    <div class="h6 text-center">Friend Requests</div>
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Suman</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Shubham</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Sera</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Shampoo</a>
        </li>
      </ul>
</section>