<% layout('layouts/boilerplate') -%>

<%- include('../partials/navigation')  %> 

<section class="chats">
    <h1 class="m-3">Chats</h1>
    <div class="card m-3">
        <div class="d-flex flex-row card-header">
            <img src="https://media.comicbook.com/2021/07/dragon-ball-super-new-super-hero-movie-goku-toei-animation-1276890.jpeg" alt="" style="border-radius: 50%; width: 50px; height: 50px; object-fit: cover;" class="p3">
          <h5 class="card-title">Goku</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>    
    <div class="card m-3">
        <div class="d-flex flex-row card-header">
            <img src="https://media.comicbook.com/2021/07/dragon-ball-super-new-super-hero-movie-goku-toei-animation-1276890.jpeg" alt="" style="border-radius: 50%; width: 50px; height: 50px; object-fit: cover;">
          <h5 class="card-title">Goku</h5>
        </div>
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
    </div> 
</section>